
<div class="body">
    <div class="container">
        <div class="element day">{{ weather?.list[readingIndex].dt*1000 | date : 'EEEE'  }}</div>
        <img class="desc-img" src="http://openweathermap.org/img/wn/{{ weather?.list[readingIndex].weather[0].icon }}@2x.png" alt="weather Icon">
        <div class="description element">{{ weather?.list[readingIndex].weather[0].description }}</div>
        <div class="temp">{{ weather?.list[readingIndex].main.temp }}  ْ </div>
        <div class="row">
            <div> min {{ weather?.list[readingIndex].main.temp_min }}   ْ</div>
            <div> max  {{ weather?.list[readingIndex].main.temp_max }}   ْ</div>
        </div>
        <div class="element">Feels like {{ weather?.list[readingIndex].main.feels_like }}  ْ</div>
        <div class="element">humidity {{ weather?.list[readingIndex].main.humidity }} %</div>
        <div class="element">wind speed {{ weather?.list[readingIndex].wind.speed }} </div>
        <a class="back" routerLink='/home' > Rest of the week</a>
    </div>
</div>
