<div class="body">
    <div class="flex-container">
        
        <div class="welcome-msg">
            <h2>Login to access weather date</h2>
        </div>
        
        <form class="form" [formGroup] = 'loginForm' (ngSubmit)="onSubmit()">
            <div class="email-container">
                <label>Email</label> <br>
                <input class="felx-item" [class.is-invalid]="email.invalid 
                                        && email.touched" 
                formControlName="email" type="email" name="email" placeholder="email@pseu.edu" />
                <div *ngIf="(email.invalid && email.touched) || email.dirty">
                    <span class="error" *ngIf= "email.errors?.required">Username is required</span>
                    <span class="error" *ngIf= "email.errors?.maxlength">Username must be shorter that 180 character </span>
                    <span class="error" *ngIf="email.errors?.pattern">Please provide a valid email address accourding to the provided pattern</span>
                </div>
            </div>
            <div>
                <label>Password</label> <br>
                <input class="felx-item" [class.is-invalid]="password.invalid 
                && password.touched" 
                formControlName="password" type="password" name="password" >
                <div *ngIf="(password.invalid && password.touched) || password.dirty">
                    <span class="error" *ngIf= "password.errors?.required">Password is required</span>
                    <span class="error" *ngIf= "password.errors?.maxlength || password.errors?.minlength">Password must have 6-12 character </span>
                    <span class="error" *ngIf="password.errors?.pattern">
                        {{password.errors}}
                        Password must has at least one uppercase letter, one lowercase letter and one special character
                    </span>
        
        
                </div>
            </div>
            <button class="sbmt-btn" type="submit">Login</button>
        </form>
        <div class="hint">Hint: if you are a guest enter "guest@pseu.edu as an email
             and  "GUEST@guest as a password</div>
    </div>
</div>