.body {
    background-image: url("../../../assets/images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* opacity: 0.5; */
}
.is-invalid{
    border-color: red;
}
.hide{
    display: none;
}
.flex-container{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.felx-item{
    padding: 5px;
    margin: 10px;
    line-height: 20px;
}
.welcome-msg{
    font-family: Courier, monospace;
    width: 65%;
    margin-bottom: 30px;
}
.form{
    /* font-style: italic; */
    margin-top: 10px;
    width: 220px;
    max-width: 220px;
    background: rgba(242, 245, 242, 0.45);
    padding: 20px;
}
.sbmt-btn{
    align-items: center;
    border-radius: 20px;
    background-color: rgb(76, 152, 175); 
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    margin: 15px 50px;
}
input{
    border-radius: 15px;
    width: 180px;
}
label{
    font-size: larger;
}
.error{
    color: red;
}
.email-container{
    margin-bottom: 30px;

}
.hint{
    font-size: large;
    padding: 100px 10px 0px 10px;
}