<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a routerLink = '/search'> 
        <fa-icon [icon]="faSearch"></fa-icon>
    </a>
    <app-current-day></app-current-day>
    <div *ngFor = "let day of [9,17,25,33]">
        <app-other-days [readingIndex] = "day"></app-other-days>
    </div>
</body>
</html>